@import "reset";

//-------- FUENTES --------
$fuente: "Roboto";
$h1 : 1.25rem;
$h2 : 1.1rem;
$h3 : 1rem;
$p : 0.9rem;
$b : 0.7rem;

//-------- COLORES --------
$blanco : #F4F4F4;
$gris : #3a3a47;
$grisc : #5f6368;
$negro : #292933;
$resaltado : #f9b01b;
$resaltado_secundario : #e9953f;
$rojo : #DF233D;
$verde : #56A549;
$azul : #3869AD;
$iluminado : #dddddd;
$opaco : #c0c0c0;
$sombra : rgba(0, 0, 0, 0.1);
$sombra_oscura : rgba(0, 0, 0, 0.5);

//-------- TAMAÑOS --------
$header : 4rem;
$icono : 2rem;
$esquina : 0.5rem;
$esquina_tag: 0.2rem;

//-------- BREAKPOINTS --------
$tablet : 768px;
$desktop : 1280px;
$desktop_m : 1680px;
$desktop_xl: 1920px;

//-------- MIXINS MEDIA QUERIES --------
@mixin phone {
    @media (max-width: #{$tablet - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) and (max-width: #{$desktop - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) and (max-width: #{$desktop_m - 1px}) {
        @content;
    }
}

@mixin desktop_hd {
    @media (min-width: #{$desktop_m}) and (max-width: #{$desktop_xl}) {
        @content;
    }
}

@mixin desktop_uhd {
    @media (min-width: #{$desktop_xl + 1px}) {
        @content;
    }
}

@mixin devices {
    @media (max-width: #{$desktop - 1px}) {
        @content;
    }
}

@mixin portrait {
    @media (orientation: portrait) {
        @content;
    }
}

@mixin ie10n11 {

    @media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
        @content;
    }
}

@mixin edge {
    @supports (-ms-ime-align: auto) {
        @content;
    }
}

@mixin safari {
    @media not all and (min-resolution:.001dpcm) {
        @content;
    }
}

//-------- MIXINS ANIMACIONES --------
@mixin keyframes($nombre_animacion) {
    @-webkit-keyframes #{$nombre_animacion} {
        @content;
    }

    @-moz-keyframes #{$nombre_animacion} {
        @content;
    }

    @-ms-keyframes #{$nombre_animacion} {
        @content;
    }

    @-o-keyframes #{$nombre_animacion} {
        @content;
    }

    @keyframes #{$nombre_animacion} {
        @content;
    }
}

@mixin animacion($str) {
    -webkit-animation: #{$str};
    -moz-animation : #{$str};
    -ms-animation : #{$str};
    -o-animation : #{$str};
    animation : #{$str};
}

@include keyframes(letra_menu) {
    0% {
        opacity: 0;
        display: none;
    }

    70% {
        opacity: 0;
        display: flex;
    }

    100% {
        opacity: 1;
        display: flex;
    }
}

@mixin toon($e: all, $t: 0.5s, $d: 0s) {
    transition: $e $t cubic-bezier(0.8, 0, 0.2, 1) $d;
}

@mixin loading_puntitos {
    position: relative;
    width: 4rem;
    height: 4rem;

    div {
        position: absolute;
        top: 27px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background: $resaltado;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

    div:nth-child(1) {
        left: 6px;
        animation: lds-ellipsis1 0.6s infinite;
    }

    div:nth-child(2) {
        left: 6px;
        animation: lds-ellipsis2 0.6s infinite;
    }

    div:nth-child(3) {
        left: 26px;
        animation: lds-ellipsis2 0.6s infinite;
    }

    div:nth-child(4) {
        left: 45px;
        animation: lds-ellipsis3 0.6s infinite;
    }

    @keyframes lds-ellipsis1 {
        0% {
            transform: scale(0);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes lds-ellipsis3 {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(0);
        }
    }

    @keyframes lds-ellipsis2 {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(19px, 0);
        }
    }
}

@mixin loading_spinner($t: 2rem, $s: $resaltado, $r: $opaco, $m: 1rem) {
    width: $t;
    height: $t;
    border: $t/5 solid $r;
    border-radius: 50%;
    border-top-color: $s;
    margin: $m;
    animation: spin 1s ease-in-out infinite;

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
}

//-------- MIXINS --------
@mixin cluster($bg, $c) {
    @include flexbox();
    @extend %sombra;
    width: 95%;
    background-color: $bg;
    margin-bottom: 1rem;
    border-radius: $esquina;

    .cluster {
        @include flexbox(space-between, center, row);
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        padding: 0.5rem 1rem;
        cursor: pointer;

        >button {
            all: unset;

            svg:first-child {
                height: 1.5rem;
            }

            .read {
                fill: $resaltado;
            }

            .unread {
                fill: $iluminado;
            }
        }

        &.open,
        .cluster_administrator_alert.open {
            >svg {
                transform: rotate();
            }
        }

        &:hover,
        &:hover .cluster_administrator_alert {
            >svg {
                transform: rotate(90deg);
            }
        }

        >span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:first-child {
                >label {
                    width: 1.5rem;
                    height: 1.5rem;
                    border: 0.1em solid $iluminado;
                    border-radius: 0.3rem;
                    padding: 0.3rem;

                    >input {
                        opacity: 0;
                        transform: scale(1.6);
                    }
                }
            }

            &:nth-child(2) {
                text-align: left;
                width: 27rem;
                color: $c;
                font-weight: bold;

                >span {
                    color: $rojo;
                    font-weight: normal;
                    text-transform: lowercase;
                    margin: 0rem 1rem;
                    font-size: $b;
                }
            }

            &:nth-child(3) {
                width: 12rem;
                color: $resaltado;
            }

            &:nth-child(4) {
                width: 8rem;
                color: $negro;
                text-align: right;

                >b {
                    margin-right: 0.5rem;
                }
            }
        }

        svg {
            @include toon();
            width: 2rem;
            height: 2rem;
            fill: $resaltado;
            transform: rotate();
        }
    }

    .cluster_problems {
        @include flexbox(space-between, center, row);
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        padding: 0.5rem 1rem;
        cursor: pointer;

        >button {
            all: unset;

            svg:first-child {
                height: 1.5rem;
            }

            .read {
                fill: $resaltado;
            }

            .unread {
                fill: $iluminado;
            }
        }

        &.open {
            >svg {
                transform: rotate();
            }
        }

        &:hover {
            >svg {
                transform: rotate(90deg);
            }
        }

        svg {
            @include toon();
            width: 2rem;
            height: 2rem;
            fill: $resaltado;
            transform: rotate();
        }
    }
}

@mixin inputCheck($bc, $b) {
    all: unset;
    appearance: none;
    margin: 0 0.5rem 0 0;
    background-color: $bc;
    border: $b;
    border-radius: 1.5rem;
    width: 1.2rem;
    height: 1.2rem;
}

@mixin switch {

    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 3.5rem;
        height: 2rem;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        min-width: 3.5rem;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 1.5rem;
        width: 1.5rem;
        left: 0.25rem;
        bottom: 0.25rem;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: $resaltado;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px $resaltado;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(1.5rem);
        -ms-transform: translateX(1.5rem);
        transform: translateX(1.5rem);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 1rem;
    }

    .slider.round:before {
        border-radius: 50%;
    }
}

@mixin flexbox($jc: center, $ai: center, $dir: column) {
    justify-content: $jc;
    align-items: $ai;

    @if $dir==row {
        flex-direction: $dir;
    }
}

@mixin boton($h: 2.25rem, $c: white, $bg: $resaltado, $hover_c: white, $hover_bg: $gris) {
    @include toon();
    font-size: .8rem;
    height: $h;
    color: $c;
    background-color: $bg;
    align-items: center;
    border: none;
    border-radius: 300px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-transform: uppercase;

    a {
        color: $c;
    }

    @if $hover_c {
        &:hover {
            color: $hover_c;
            background: $hover_bg;
        }
    }
}

@mixin boton_secundario ($b: $resaltado, $bh: $gris) {
    @include boton(2.25rem, $resaltado, unset, white, $gris);
    border: 0.01rem solid $b;
    font-size: .8rem;

    &:hover {
        border: 0.01rem solid $bh;
    }
}


@mixin input($bc: $negro, $fc: $negro) {
    background: none;
    border: none;
    color: $fc;
    border-bottom: 1px solid $bc;
}

@mixin input_date {
    @include new_filter($dir: "dcha", $w: unset, $bg: $iluminado, $c: $negro);
    margin: 1rem 0 .5rem 0;

    ::-webkit-calendar-picker-indicator {
        background: url(./img/icons/arrow_down.svg) no-repeat;
        background-position-x: .4rem;
        height: 1rem;
        margin: 0;
    }

    &:first-child {
        margin: 1rem -.8rem .5rem 1rem;
    }

    &:nth-child(3) {
        @include flexbox($jc: flex-end);
        margin-right: -.8rem;
        width: 2rem;
        z-index: 4;
    }
}

@mixin filter($dir, $w: 12rem, $bg: white, $c: $negro) {
    @include flexbox(flex-start, center, row);

    @if $dir=="izq" {
        svg {
            position: relative;
            left: 0.25rem;
        }

        select,
        input,
        button {
            position: relative;
            right: 1.45rem;
        }
    }

    @if $dir=="dcha" {
        svg {
            position: relative;
            left: 1.45rem;
        }
    }

    select,
    input,
    button {
        width: $w;
        height: 1.7rem;
        background: $bg;
        color: $c;
        font-size: 0.8rem;
        padding: 0.25rem 0.25rem 0.25rem 2rem;
        border: 1px solid $c;
        border-radius: 8rem;
    }

    svg {
        width: 1.65rem;
        height: 1.65rem;
        fill: $c;
        z-index: 1;
    }
}


@mixin new_filter($dir, $w: 12rem, $bg: $iluminado, $c: $negro) {
    @include flexbox(flex-start, center, row);

    @if $dir=="izq" {

        svg {
            position: relative;
            left: 0.25rem;
        }

        select,
        input,
        button {
            position: relative;
            right: 1.45rem;
        }
    }

    @if $dir=="dcha" {

        svg {
            position: relative;
            left: 1.85rem;
        }
    }

    select,
    input,
    button {
        width: $w;
        height: 1.7rem;
        background: $bg;
        color: $c;
        font-size: 0.8rem;
        padding: 0.25rem 0.5rem 0.25rem 2rem;
        border: 1px solid $iluminado;
        border-radius: 8rem;
    }

    svg {
        width: 1.2rem;
        height: 1.2rem;
        fill: $grisc;
        z-index: 1;
    }
}

@mixin icono($color, $hover: null) {
    cursor: pointer;

    label,
    svg {
        @include toon();
    }

    label {
        cursor: pointer;
        color: $color;
    }

    svg {
        width: $icono;
        height: $icono;
        min-width: $icono;
        min-height: $icono;
        fill: $color;
        margin: 1rem;
    }

    @if $hover {
        &:hover {
            label {
                color: $hover;
            }

            svg {
                fill: $hover;
            }
        }
    }
}

@mixin separador_lista($m: 1rem) {
    >* {
        margin-bottom: $m;

        &:last-child {
            margin: 0;
        }
    }
}

@mixin cards ($w, $h, $bc) {
    @include flexbox($jc: space-between);
    @extend %sombra;
    background: $bc;
    border-radius: $esquina;
    width: $w;
    max-width: $w;
    height: $h;
    margin: .5rem;
    padding: 1rem;
}

@mixin text ($fw: bolder, $fs: 2rem, $as: flex-start, $tt: uppercase, $c: $negro) {
    font-weight: $fw;
    font-size: $fs;
    align-self: $as;
    text-transform: $tt;
    color: $c;
}

@mixin table ($bch: white, $bcb: white) {
    width: 95%;
    margin-bottom: 2rem;

    th.hide,
    td.hide {
        @include devices {
            display: none;
            visibility: hidden;
        }
    }

    th,
    td {
        text-align: center;
        vertical-align: middle;
        padding: 1rem 0.6rem;
        cursor: pointer;
    }

    thead {
        font-weight: bold;
        text-transform: capitalize;

        tr {
            &:last-child {
                th {
                    padding: 0rem 0.5rem 0.5rem 0.5rem;

                    >input {
                        font-size: 0.8rem;
                        background-color: $iluminado;
                        border-radius: 50rem;
                        border: none;
                        padding: 0.5rem 0rem 0.5rem 0.8rem;
                        width: 100%;
                    }
                }
            }
        }

        th {
            @include toon();
            position: sticky;
            top: 0;
            box-shadow: 0 1px 0 0 $resaltado;
            background-color: $bch;
            min-width: 3rem;

            &:hover,
            &.ordered {
                color: $resaltado;

                span {
                    display: inline;
                    position: absolute;
                    padding-left: 0.5rem;
                    font-weight: normal;
                    font-size: 1rem;
                }
            }

            span {
                display: none;
            }
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid $opaco;
            background-color: $bcb;

            &:last-child {
                border-bottom: 1px solid $resaltado;
            }

            &:hover {
                background: $blanco;
            }
        }

        td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &.priority {
                width: 2.75rem;
                padding: 0;

                svg {
                    width: 1.5rem;
                    height: 1.5rem;
                    fill: $resaltado;
                }
            }
        }
    }
}

@mixin tooltip($direction: 'se', $bg_color: $blanco) {
    $triangle_size: .5rem;
    $tooltip_width: 8rem;
    position: relative;

    &:before,
    &:after {
        opacity: 0;
        z-index: 98;
        pointer-events: none;
    }

    &:before {
        @extend %sombra;
        content: attr(data-tooltip);
        position: absolute;
        width: $tooltip_width;
        border-radius: $esquina;
        background-color: $bg_color;
        padding: .75rem 1rem;
        text-align: center;
        font-size: $b;
        font-weight: bold;
    }

    &:after {
        content: '';
    }

    @if $direction=='se' or $direction=='sw' {
        &:before {
            bottom: auto;
            top: auto;
        }

        &:after {
            bottom: -($triangle_size + .25rem);
            top: auto;
        }
    }

    @if $direction=='ne' or $direction=='se' {

        &:before,
        &:after {
            left: 75%;
            right: auto;
            margin-left: -$triangle_size;
        }

        &:before {
            margin-left: -$triangle_size * 3;
        }
    }

    &:hover {

        &:before,
        &:after {
            opacity: 1;
            pointer-events: all;
        }
    }
}

//-------- EXTENDS --------
%sombra {
    box-shadow: 0px 2px 5px 0px $sombra;
}

%modal_shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $sombra_oscura;
    backdrop-filter: blur(4px);
    transition: all 1.3s;
    z-index: 10;
}

%cluster_open {
    @include flexbox(space-between, center, column);
    width: 100%;
    margin-bottom: 2rem;

    >div {
        @include flexbox($dir: row);
        width: 100%;
        flex-wrap: wrap;

        >span {
            @include text($fw :lighter, $fs: $b, $as: flex-start, $tt: unset, $c: $negro);
            margin: .3rem;
            padding: .2rem .3rem;
            background-color: $blanco;
            border-radius: $esquina_tag;
        }
    }
}

%disclaimer {
    margin: 2rem 0 1rem 0;
    text-align: justify;
    font-size: $b;
    line-height: 1rem;

    span {
        margin-right: .25rem;
        color: $negro;
        font-weight: bolder;
    }

    b {
        font-weight: unset;
        color: $grisc;
    }

    a {
        color: $resaltado;
        font-weight: bolder;
    }
}

%related {
    &:nth-child(2) {
        background-color: $rojo;
    }

    &:nth-child(3) {
        background-color: #F79300;
    }

    &:nth-child(4) {
        background-color: #FBBC04;
    }

    &:nth-child(5) {
        background-color: $verde;
    }
}

%tag {
    @include text($fw: lighter, $fs: $b, $as: flex-start, $tt: unset, $c: $negro);
    margin: 0 .2rem;
    padding: .25rem .5rem;
    background-color: $blanco;
    border-radius: $esquina_tag;
}

%elipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

//-------- ESTILOS GLOBALES --------
body {
    background: $blanco;
    font-family: $fuente;
    font-size: 0.9rem;
}

h1 {
    font-size: $h1;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-size: $h2;
}

h3 {
    font-size: $h3;
}

h6 {
    color: $negro;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem;
}

b {
    font-weight: bold;
}

p {
    font-size: $p;
}

button,
input[type=button] {
    @include boton();
    justify-content: center;
}

input,
input:focus {
    @include input();
}

select {
    height: 2.25rem;
    -moz-appearance: none;
}

.tab {
    @include flexbox(center, center, row);
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    border-bottom: 1px solid $opaco;

    >div {
        @include flexbox(center, center);
        position: relative;
        top: 1px;
        width: 50%;
        height: 2rem;
        cursor: pointer;
        font-weight: bold;

        &:hover {
            background: $iluminado;
            border-bottom: 1px solid $opaco;
        }
    }
}

.tab_active {
    color: $resaltado;
    border-bottom: 2px solid $resaltado  !important;
}

.no_bot {
    @include flexbox;
}

.error_tickets {
    width: 3rem;
    height: 3rem;
}

.error_no_tickets {
    @include flexbox();
}

#bot_error {
    @include flexbox();

    svg,
    img {
        width: 10rem;
        height: 10rem;
        margin-top: 2rem;
    }
}

.short {
    text-align: left;
    min-width: 5rem;
    max-width: 14rem;
}